NODE_ENV=development
PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_NAME=k_tutor

JWT_SECRET=28012005
JWT_EXPIRES_IN=1d

FRONTEND_URL=http://localhost:5173